/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/styles/app.scss ***!
  \*******************************************************************************************************************************************************************************************/
body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.hero {
  background-image: url("assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.5rem;
}

.categories {
  padding: 50px 0;
  text-align: center;
}

.categories h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.categories .category-list {
  display: flex;
  justify-content: center;
}

.categories .category-list .category-item {
  margin: 0 20px;
}

.categories .category-list .category-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.categories .category-list .category-item h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}
